@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-ghost {
    background-color: #2b3440ff;
    color: #cccdd0ff;
}

.btn-ghost:hover {
    background-color: #cccdd0ff;
    color: #2b3440ff;
}

.custom-card-image .card.image-full::before {
    border-radius: 8px;
    opacity: 0.45;
}

.card-body p {
    flex-grow: unset;
}
